@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/SourceSerifPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/SourceSerifPro-SemiBold.woff") format("woff");
}
