.button {
  padding: 30px 40px;
  border: none;
  border-color: $primary_text_color;

  border-radius: 16px;
  background-color: $primary_text_color;
  cursor: pointer;

  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;

  &:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-out;
  }
}
