.footer {
  max-width: 1170px;
  height: 130px;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    padding: 0 5px;
    flex-direction: column;
  }
}

.footer_logo {
  margin: auto;
  text-align: center;
}

.footer_phone {
  min-width: 260px;
  text-decoration: none;
  color: #000;
  font-family: "Source Serif Variable";
  font-size: 25px;
  text-align: right;
  @media (max-width: 991px) {
    text-align: center;
  }
}
