.sale {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;

  padding-bottom: 8rem;

  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 55px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;

    padding: 0 5px;
    padding-bottom: 5rem;

    gap: 25px;
  }
  @media (max-width: 530px) {
    padding: 0 5px;
    padding-bottom: 2rem;
  }
}

.sale_wrapper {
  margin: 0 auto;
  text-align: center;
}

.sale_title-wrapper {
  grid-column: 1/-1;
  margin: 0 auto;
  text-align: center;
}

.sale_title {
  margin-bottom: 10px;
}

.sale_title-description {
  font-size: 20px;
}

.sale_text {
  margin-bottom: 20px;
  text-align: left;

  @media (max-width: 991px) {
    text-align: center;
  }
}

.sale_list-wrapper {
  width: 300px;
  margin: 0 auto;
}

.sale_list {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.sale_item::marker {
  content: "- ";
}

.sale_bg {
  background-image: url(./assets/img/our-designer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 530px) {
    display: none;
  }
}
