.header_wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 10px;
  padding: 10px;

  @media (max-width: 991px) {
    padding: 5px;
    flex-direction: column;
    justify-content: center;
  }
}

.header_logo {
  @media (max-width: 991px) {
    margin-bottom: 5px;
  }
}

.header_slogan {
  max-width: 230px;
  text-align: center;
  margin-right: auto;
  padding-left: 20px;
  @media (max-width: 991px) {
    display: none;
  }
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  @media (max-width: 991px) {
    align-items: center;
  }
}

.header_phone {
  min-width: 260px;
  text-decoration: none;
  color: #000;
  font-family: "Source Serif Variable";
  font-size: 35px;
  margin-bottom: 10px;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/icons/tel.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    vertical-align: baseline;
    padding-right: 15px;
  }

  @media (max-width: 480px) {
    margin-bottom: 3px;

    font-size: 16px;
    min-width: 100px;
    &::before {
      width: 15px;
      height: 15px;
      background-size: 15px;
    }
  }
}

.header_button {
  border: none;
  background: transparent;
  color: $primary_text_color;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
