.modal_overlay,
.modal-calc_overlay,
.modal-calc-end_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
}

.modal {
  position: fixed;

  max-height: 650px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  padding-bottom: 80px;
  box-sizing: border-box;

  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
}

.modal_main-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal_text {
  margin-bottom: 10px;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_input {
  border: 2px solid #9e9e9e;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  height: 50px;

  font-size: 16px;
  &::placeholder {
    color: $primary_text_color;
    opacity: 0.7;
  }
}

.modal_button {
  margin-top: 20px;
}

.modal_close {
  border: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 10px;

    width: 30px;
    height: 5px;

    background-color: $primary;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// modal_calc

.modal_calc {
  width: 400px;
}

.modal_description {
  margin-bottom: 20px;
}

.modal_icons-list {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 30px;
}

.modal_icon-item {
  width: 45px;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}

.modal_icon {
  filter: invert(66%) sepia(1%) saturate(0%) hue-rotate(26deg) brightness(96%)
    contrast(90%);
}

.modal_big-icons-list {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal_big-icon-item {
  width: 150px;
  margin: 0 auto;
}

.modal_big-icon-item {
  filter: invert(28%) sepia(10%) saturate(470%) hue-rotate(95deg)
    brightness(94%) contrast(90%);
}

.modal_amount {
  margin: 0 auto;

  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_input-amount {
  flex-grow: 2;
  margin-right: 5px;
  height: 40px;
}

.modal_button-calc {
  background-color: $primary;
  width: 100%;
  padding: 25px;
}

.modal_do-icon-more .modal_icon {
  transform: scale(1.5);
}
